<!-------------------------------------------------------------
                          
-------------------------------------------------------------->

/* Prevents adjustments of font size after orientation change in IE on Windows phone and in IOS */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Apply a natural box model layout to all elements */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


<!-------------------------------------------------------------
                          
-------------------------------------------------------------->

.homeImg {
    background-image: url(../FDGForensics/homePicture.jpg);
    
}

.header {
    width: 100%;
    height: 300px;
    background-color: red;
}

.logoC {
    width: 50%;
    height: auto;
}
