<!-------------------------------------------------------------
                          
-------------------------------------------------------------->

/* Prevents adjustments of font size after orientation change in IE on Windows phone and in IOS */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Apply a natural box model layout to all elements */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


<!-------------------------------------------------------------
                          
-------------------------------------------------------------->


.homeImg {
    
    
}

.header {
    display: flex;
    justify-content: space-between;
}

.logoC {
  margin-left: 10%;
}

.searchC {
    margin-right: 10%;
    padding-top: 50px;
}

.middleArea{
    display: flex;
    width: 100%;
    background-color: blue;
}

.menuItems {
    order: 1;
 
}

.menuItems li {
    border-bottom: 1px solid lightblue;
    list-style-type: none;
    color: white;

    
}

.mainImg {
    order: 2;
    position: relative;
    
}

.slogan {
    order: 3;
    
    color: white;
    background-color: blue;
}

.bottomArea {
    display: flex;
}